<header class="flex align-center w-full">
    <div class="logo w-full flex justify-center p-32">
        <a routerLink="/"> Coupé Lounge </a>
    </div>
</header>

<div class="flex justify-end p-32 social">
    <a
        href="https://open.spotify.com/playlist/3JujTwJfoqr1AFXMWEgvLM?si=e71605743b6e4ef1"
    >
        <i class="fa-brands fa-spotify"></i>
    </a>
    <a href="https://www.instagram.com/coupelounge/">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://br.pinterest.com/ortegavan/cocktails/">
        <i class="fa-brands fa-pinterest"></i>
    </a>
</div>
