<app-header />

@if (route.children.length <= 0) {
    <section class="container mt-32 flex g-32 space-around spirits">
        @for (spirit of spirits$ | async; track spirit.id) {
            <app-spirit
                [spirit]="spirit"
                (spiritClicked)="changeSpirit($event)"
            />
        }
    </section>

    <main class="container mt-64 flex g-32 cards">
        @for (drink of drinks$ | async; track $index) {
            <app-card [drink]="drink" />
        }
    </main>

    <footer class="p-32 flex justify-center">
        <small>
            Não compartilhe bebidas alcoólicas com menores de idade. Se beber,
            não dirija.
        </small>
    </footer>
} @else {
    <router-outlet />
}
