@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Poiret+One&display=swap");

html,
body {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poiret One", sans-serif;
    font-size: 18px;
    color: #666;
    background-color: #f0f4f9;
}

.logo {
    font-family: "Parisienne", cursive;
    font-size: 32px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 24px;
}

.bg-white {
    background-color: #fff;
}

.flex {
    display: flex;

    div {
        flex: 1;
    }
}

.flex-col {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.g-16 {
    gap: 16px;
}

.g-32 {
    gap: 32px;
}

.w-full {
    width: 100%;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-64 {
    margin-top: 64px;
}

.mb-32 {
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 24px;
    }

    i {
        font-size: 20px;
    }

    .flex {
        div {
            flex: unset;
        }
    }

    .g-32 {
        gap: 16px;
    }
}
